<html>
    <head>
        <title>Victory or Defeat Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Victory or Defeat Blog</a></h1>
        </div>

        <div>
            <p>published: 19.05.2023, 16:14</p>
            <h2><a href="">My first post</a></h2>
            <p>こんにちは！ よろしくお願いします！ </p>
        </div>

        <div>
            <p>公開日: 2023/05/19, 16:14</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
    </body>
</html>